* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  display: block;
  margin: 0 auto;
  background-color: #f0f0f0;
  border: blue 1px solid;
}

:root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
